numpy~=2.4.4
pandas~=2.3.3
scikit-learn~=1.8.0
scipy~=1.17.1
torch~=2.11.0
matplotlib~=3.10
joblib~=1.5
flask~=3.1
gunicorn~=25.3
pytest~=9.0
mord==0.7
lightgbm~=4.6.0
optuna~=4.8
appdirs~=1.4
fastparquet==2026.3.0
